header {
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 5px 10px 10px 10px;
  align-items: center;
  width: 100%;
}
header nav {
  text-align: right;
  width: 100%;
}
header ul {
  display: inline-flex;
  align-items: flex-start;
  padding-right: 35px;
}
li {
  padding: 0px 12px;
  display: inline-block;
}
a {
  color: black;
}
h1, h2, h3, h5, h6, p {
  font-family: Georgia;
}
h1 {
  font-size: 40px;
  color: white;
  padding-left: 20px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 30px;
  color: white;
  text-align: center;
}
h4 {
  color: MediumAquamarine;
  width: 200px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
  color: white;
  padding: 0;
}
main p {
  font-size: 17px;
  color: black;
}
footer {
  display: flex;
  position: relative;
  top: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: MediumAquamarine;
  min-height: 300px;
  width: 100%;
  /*
  left: 0;
  margin: 0px;
  padding: 0px;

  Setting left, margin and padding to 0 doesn't get rid of gaps on sides.
  */
}
footer p, footer ul {
  font-family: Verdana;
  font-size: 12px;
  margin: 0px;
  display: inline-flex;
  justify-content: center;
}
footer ul li {
  display: inline-block;
  justify-content: center;
  padding: 0px 12px;
  margin: 0px;
}
.bites ul {
  flex-direction: column;
}
.bites li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  text-align: left;
  width: 200px;
  padding: 10px 20px;
}
.brand {
  display: inline-flex;
  align-items: center;
}
.logo {
  padding: 0px 10px;
}
.main {
  display: flex;
  position: relative;
  top: 80px;
  z-index: 10;
  justify-content: center;
  min-width: 1220px;
  /*Set min-width so that left side is not cut off.*/

  /*
  overflow: scroll;

  The default overflow seems to be scroll.
  */
  /*
  left: 0;
  margin: 0px;
  padding: 0px;

  I thought setting the left position, padding and margin to 0 might get rid of the gaps on the  side of the footer, but it doesn't.*/
}
.column {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 15px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
  align-items: center;
}
.mainstory {
  display: flex;
  flex-direction: column;
}
.twocolumns {
  display: inline-flex;
  justify-content: space-between;
  width: 630px;
}
.leftcolumn {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.rightcolumn {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.picture {
  display: flex;
  height: 300px;
  width: 300px;
  align-items: center;
  margin-top: 20px;
}
.bites {
  display: flex;
}
.bottomnav {
  display: inline-flex;
  align-items: center;
}
#headline {
  background-image: url(../../resources/images/img-story-main.png);
  width: 100%;
}
#earth {
  background-image: url(../../resources/images/img-story-2.png);
}
#research {
  background-image: url(../../resources/images/img-story-3.png);
}
#cats {
  background-image: url(../../resources/images/img-story-1.png);
}
